h1{
    background-color: rgb(131, 70, 70);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
    padding: 10px;
}


